<a href="https://colab.research.google.com/github/KadhReyA/gamesales/blob/master/VGS_DM.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Import & Load CSV**

In [0]:
# Import Libary
import matplotlib as mpl
import matplotlib.pyplot as plt
import numpy as np
import os
import pandas as pd

In [2]:
# Read CSV & Print CSV
vgs_df = pd.read_csv("https://raw.githubusercontent.com/KadhReyA/gamesales/master/vgsales.csv")
vgs_df.head()

   Rank                      Name Platform  ...  JP_Sales Other_Sales Global_Sales
0     1                Wii Sports      Wii  ...      3.77        8.46        82.74
1     2         Super Mario Bros.      NES  ...      6.81        0.77        40.24
2     3            Mario Kart Wii      Wii  ...      3.79        3.31        35.82
3     4         Wii Sports Resort      Wii  ...      3.28        2.96        33.00
4     5  Pokemon Red/Pokemon Blue       GB  ...     10.22        1.00        31.37

[5 rows x 11 columns]

# **Data Check**

In [3]:
# Locate Games based on Platform
vgs_df.loc[vgs_df['Platform'] == "Wii"]

        Rank  ... Global_Sales
0          1  ...        82.74
2          3  ...        35.82
3          4  ...        33.00
7          8  ...        29.02
8          9  ...        28.62
...      ...  ...          ...
16517  16520  ...         0.01
16552  16555  ...         0.01
16573  16576  ...         0.01
16574  16577  ...         0.01
16581  16584  ...         0.01

[1325 rows x 11 columns]

In [4]:
# Locate Games based on Genre
vgs_df.loc[vgs_df['Genre'] == "Platform"]

        Rank  ... Global_Sales
1          2  ...        40.24
6          7  ...        30.01
8          9  ...        28.62
18        19  ...        20.61
21        22  ...        18.14
...      ...  ...          ...
16498  16501  ...         0.01
16562  16565  ...         0.01
16565  16568  ...         0.01
16593  16596  ...         0.01
16597  16600  ...         0.01

[886 rows x 11 columns]

In [5]:
# Print all Platform
vgs_df['Platform'].unique()

array(['Wii', 'NES', 'GB', 'DS', 'X360', 'PS3', 'PS2', 'SNES', 'GBA',
       '3DS', 'PS4', 'N64', 'PS', 'XB', 'PC', '2600', 'PSP', 'XOne', 'GC',
       'WiiU', 'GEN', 'DC', 'PSV', 'SAT', 'SCD', 'WS', 'NG', 'TG16',
       '3DO', 'GG', 'PCFX'], dtype=object)

In [6]:
# Print all Genre
vgs_df['Genre'].unique()

array(['Sports', 'Platform', 'Racing', 'Role-Playing', 'Puzzle', 'Misc',
       'Shooter', 'Simulation', 'Action', 'Fighting', 'Adventure',
       'Strategy'], dtype=object)

In [7]:
# Print total of Games in Platform
for i in vgs_df['Platform'].unique():
  print(i, end = ' ')
  print("Games : ", vgs_df.Platform.loc[vgs_df['Platform'] == i].count())

Wii Games :  1325
NES Games :  98
GB Games :  98
DS Games :  2163
X360 Games :  1265
PS3 Games :  1329
PS2 Games :  2161
SNES Games :  239
GBA Games :  822
3DS Games :  509
PS4 Games :  336
N64 Games :  319
PS Games :  1196
XB Games :  824
PC Games :  960
2600 Games :  133
PSP Games :  1213
XOne Games :  213
GC Games :  556
WiiU Games :  143
GEN Games :  27
DC Games :  52
PSV Games :  413
SAT Games :  173
SCD Games :  6
WS Games :  6
NG Games :  12
TG16 Games :  2
3DO Games :  3
GG Games :  1
PCFX Games :  1

In [8]:
# Print total of Games in Genre
for i in vgs_df['Genre'].unique():
  print(i, end = ' ')
  print("Games : ", vgs_df.Platform.loc[vgs_df['Genre'] == i].count())

Sports Games :  2346
Platform Games :  886
Racing Games :  1249
Role-Playing Games :  1488
Puzzle Games :  582
Misc Games :  1739
Shooter Games :  1310
Simulation Games :  867
Action Games :  3316
Fighting Games :  848
Adventure Games :  1286
Strategy Games :  681

# **Top Sales**

In [0]:
sales_sum = vgs_df.groupby('Platform')[['NA_Sales', 'EU_Sales', 'JP_Sales', 'Other_Sales', 'Global_Sales']].sum()

In [18]:
sales_sum.loc[sales_sum['Global_Sales'] > 500]

          NA_Sales  EU_Sales  JP_Sales  Other_Sales  Global_Sales
Platform
DS          390.71    194.65    175.57        60.53        822.49
PS          336.51    213.60    139.82        40.91        730.66
PS2         583.84    339.29    139.20       193.44       1255.64
PS3         392.26    343.71     79.99       141.93        957.84
Wii         507.71    268.38     69.35        80.61        926.71
X360        601.05    280.58     12.43        85.54        979.96

In [9]:
# Print total of Games in Genre
print('Wii Games')
for i in vgs_df['Genre'].unique():
  print(i, end = ' ')
  print("Games : ", vgs_df.Platform.loc[(vgs_df['Genre'] == i) & (vgs_df['Platform'] == 'Wii')].count())

Wii Games
Sports Games :  261
Platform Games :  58
Racing Games :  94
Role-Playing Games :  35
Puzzle Games :  55
Misc Games :  280
Shooter Games :  66
Simulation Games :  87
Action Games :  238
Fighting Games :  42
Adventure Games :  84
Strategy Games :  25

In [19]:
print('DS Games')
for i in vgs_df['Genre'].unique():
  print(i, end = ' ')
  print("Games : ", vgs_df.Platform.loc[(vgs_df['Genre'] == i) & (vgs_df['Platform'] == 'DS')].count())

DS Games
Sports Games :  148
Platform Games :  92
Racing Games :  67
Role-Playing Games :  200
Puzzle Games :  238
Misc Games :  393
Shooter Games :  42
Simulation Games :  285
Action Games :  343
Fighting Games :  36
Adventure Games :  240
Strategy Games :  79

In [20]:
print('PS Games')
for i in vgs_df['Genre'].unique():
  print(i, end = ' ')
  print("Games : ", vgs_df.Platform.loc[(vgs_df['Genre'] == i) & (vgs_df['Platform'] == 'PS')].count())

PS Games
Sports Games :  222
Platform Games :  64
Racing Games :  145
Role-Playing Games :  97
Puzzle Games :  32
Misc Games :  76
Shooter Games :  96
Simulation Games :  60
Action Games :  157
Fighting Games :  108
Adventure Games :  69
Strategy Games :  70

In [21]:
print('PS2 Games')
for i in vgs_df['Genre'].unique():
  print(i, end = ' ')
  print("Games : ", vgs_df.Platform.loc[(vgs_df['Genre'] == i) & (vgs_df['Platform'] == 'PS2')].count())

PS2 Games
Sports Games :  400
Platform Games :  103
Racing Games :  216
Role-Playing Games :  187
Puzzle Games :  18
Misc Games :  222
Shooter Games :  160
Simulation Games :  90
Action Games :  348
Fighting Games :  150
Adventure Games :  196
Strategy Games :  71

In [22]:
print('PS3 Games')
for i in vgs_df['Genre'].unique():
  print(i, end = ' ')
  print("Games : ", vgs_df.Platform.loc[(vgs_df['Genre'] == i) & (vgs_df['Platform'] == 'PS3')].count())

PS3 Games
Sports Games :  213
Platform Games :  37
Racing Games :  92
Role-Playing Games :  119
Puzzle Games :  3
Misc Games :  124
Shooter Games :  156
Simulation Games :  31
Action Games :  380
Fighting Games :  76
Adventure Games :  74
Strategy Games :  24

In [23]:
print('X360 Games')
for i in vgs_df['Genre'].unique():
  print(i, end = ' ')
  print("Games : ", vgs_df.Platform.loc[(vgs_df['Genre'] == i) & (vgs_df['Platform'] == 'X360')].count())

X360 Games
Sports Games :  220
Platform Games :  24
Racing Games :  105
Role-Playing Games :  76
Puzzle Games :  7
Misc Games :  126
Shooter Games :  203
Simulation Games :  40
Action Games :  324
Fighting Games :  65
Adventure Games :  47
Strategy Games :  28