<a href="https://colab.research.google.com/github/KadhReyA/gamesales/blob/master/VGS_DM.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# Import Libary
import matplotlib as mpl
import matplotlib.pyplot as plt
import numpy as np
import os
import pandas as pd

In [2]:
# Read CSV & Print CSV
vgs_df = pd.read_csv("https://raw.githubusercontent.com/KadhReyA/gamesales/master/vgsales.csv")
vgs_df.head()

   Rank                      Name Platform  ...  JP_Sales Other_Sales Global_Sales
0     1                Wii Sports      Wii  ...      3.77        8.46        82.74
1     2         Super Mario Bros.      NES  ...      6.81        0.77        40.24
2     3            Mario Kart Wii      Wii  ...      3.79        3.31        35.82
3     4         Wii Sports Resort      Wii  ...      3.28        2.96        33.00
4     5  Pokemon Red/Pokemon Blue       GB  ...     10.22        1.00        31.37

[5 rows x 11 columns]

In [6]:
# Locate Games based on Platform
vgs_df.loc[vgs_df['Platform'] == "Wii"]

        Rank  ... Global_Sales
0          1  ...        82.74
2          3  ...        35.82
3          4  ...        33.00
7          8  ...        29.02
8          9  ...        28.62
...      ...  ...          ...
16517  16520  ...         0.01
16552  16555  ...         0.01
16573  16576  ...         0.01
16574  16577  ...         0.01
16581  16584  ...         0.01

[1325 rows x 11 columns]

In [7]:
# Locate Games based on Genre
vgs_df.loc[vgs_df['Genre'] == "Platform"]

        Rank  ... Global_Sales
1          2  ...        40.24
6          7  ...        30.01
8          9  ...        28.62
18        19  ...        20.61
21        22  ...        18.14
...      ...  ...          ...
16498  16501  ...         0.01
16562  16565  ...         0.01
16565  16568  ...         0.01
16593  16596  ...         0.01
16597  16600  ...         0.01

[886 rows x 11 columns]

In [9]:
# Print all Platform
vgs_df['Platform'].unique()

array(['Wii', 'NES', 'GB', 'DS', 'X360', 'PS3', 'PS2', 'SNES', 'GBA',
       '3DS', 'PS4', 'N64', 'PS', 'XB', 'PC', '2600', 'PSP', 'XOne', 'GC',
       'WiiU', 'GEN', 'DC', 'PSV', 'SAT', 'SCD', 'WS', 'NG', 'TG16',
       '3DO', 'GG', 'PCFX'], dtype=object)

In [10]:
# Print all Genre
vgs_df['Genre'].unique()

array(['Sports', 'Platform', 'Racing', 'Role-Playing', 'Puzzle', 'Misc',
       'Shooter', 'Simulation', 'Action', 'Fighting', 'Adventure',
       'Strategy'], dtype=object)

In [22]:
# Print total of Games in Platform
for i in vgs_df['Platform'].unique():
  print(i, end = ' ')
  print("Games : ", vgs_df.Platform.loc[vgs_df['Platform'] == i].count())

Wii Games :  1325
NES Games :  98
GB Games :  98
DS Games :  2163
X360 Games :  1265
PS3 Games :  1329
PS2 Games :  2161
SNES Games :  239
GBA Games :  822
3DS Games :  509
PS4 Games :  336
N64 Games :  319
PS Games :  1196
XB Games :  824
PC Games :  960
2600 Games :  133
PSP Games :  1213
XOne Games :  213
GC Games :  556
WiiU Games :  143
GEN Games :  27
DC Games :  52
PSV Games :  413
SAT Games :  173
SCD Games :  6
WS Games :  6
NG Games :  12
TG16 Games :  2
3DO Games :  3
GG Games :  1
PCFX Games :  1